* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.App-header {
  margin: 2%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-color: #fff; /* Or the background color of your choice */
}

.App-header-content {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; /* Ensures the content container fills the header */
  max-width: 1200px; /* Adjust this to the maximum width you want for your content */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

img {

  margin-right: 3%;
}

.spacer {
  flex-grow: 1;
}

/* Nav.css */
.navigation ul {
  list-style: none;
  display: flex;
  gap: 2rem; /* Adjust the space between items as needed */
  font-family: 'Markazi Text', serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}

.navigation a {
  color: #333333; /* Replace with actual color from the design */
  text-decoration: none;
}

.navigation a:hover {
  color: #FAC14E; /* Hover color */
}
